/* Import Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    text-align: center;
}

p {
    max-width: 1000px;
}

ul {
    padding: 0px;
    list-style-position: inside;
}

#navbar {
    width: 100%;
    background-color: lightgreen;
    border-radius: 0px:
}

#menu-items {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    overflow: auto;
    cursor: auto;
}

#menu-items li {
    margin: auto;
    font-size: x-large;
}

.img-max {
    max-width: 500px;
    width:100%;
  }