/* Import Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    text-align: center;
}

p {
    max-width: 1000px;
}

ul {
    padding: 0px;
    list-style-position: inside;
}

#navbar {
    width: 100%;
    border-radius: 0px:
}

#navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    overflow: hidden;
    cursor: auto;
    background-color: lightgreen;
}
  
#navbar li {
    float: left;
}
  
#navbar li a {
    margin: auto;
    font-size: large;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#navbar li a:hover:not(.active) {
    background-color: mediumseagreen;
}

.active {
    background-color: greenyellow;
}

.img-max {
    max-width: 500px;
    width:100%;
  }