/* Import Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    text-align: center;
}

p {
    max-width: 1000px;
}

ul {
    padding: 0px;
    list-style-position: inside;
}

.img-max {
    max-width: 500px;
    width:100%;
}

.grayback {
    background-color: rgb(200, 200, 200);
    text-align: center;
}

#travel-log {
    text-align: left;
}